[submodule "FreeRTOS_CM7"]
	path = FreeRTOS_CM7
	url = https://github.com/alex-jegers/FreeRTOS-Kernel_ARM
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/alex-jegers/lvgl
[submodule "CANgauge-base"]
	path = CANgauge-base
	url = https://github.com/alex-jegers/CANgauge-base
